*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#111827;
    color:#fff;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#6a11cb,#2575fc);
    color:white;
}

.hero h2{
    font-size:38px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.hero a{
    display:inline-block;
    padding:15px 30px;
    margin:10px;
    background:white;
    color:#2575fc;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.hero a:hover{
    background:#ffd700;
    color:black;
}
